<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.juxinli.payment.dao.PaymentTransDetailDAO">

	<resultMap id="BaseResultMap" type="com.juxinli.payment.domain.PaymentTransDetailEntity">
		<id column="platform_id" property="platformId" jdbcType="VARCHAR" />
		<id column="order_code" property="orderCode" jdbcType="VARCHAR" />
		<result column="process_status" property="processStatus" jdbcType="INTEGER" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		<result column="create_date" property="createDate" jdbcType="DATE" />
		<result column="update_date" property="updateDate" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		platform_id, order_code, process_status, amount, create_date, update_date
	</sql>

	<insert id="insert">
		insert into
			payment_trans_detail
		( platform_id, order_code, process_status, amount, create_date, update_date )
		values
			( 
				#{platformId, jdbcType=VARCHAR}, #{orderCode, jdbcType=VARCHAR}, #{processStatus, jdbcType=INTEGER},
				#{amount, jdbcType=DECIMAL}, #{createDate, jdbcType=DATE}, #{updateDate, jdbcType=DATE}
			 )
	</insert>
	
	<select id="selectByPrimaryKey" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
			platform_id, order_code, process_status, amount, create_date, update_date
		from
			payment_trans_detail
		where
			platform_id = #{ platformId, jdbcType=VARCHAR }
		and
			order_code = #{ orderCode, jdbcType=VARCHAR }
	</select>

</mapper>